body {
	margin-top: 30px;
	background-image: url('http://subtlepatterns.com/patterns/tileable_wood_texture.png');
}

header hgroup {
	text-align: center;
	font-family: 'Lobster', Arial, cursive;
	font-weight: 140;
	color: #af1523;
}
	
	header hgroup .logo {
		font-size: 64px;
		margin-bottom: 10px;
	}

section.chart-container {
	margin-top: 20px;
}

	section.chart-container .chart {
		display: block;
		position: relative;
		min-height: 150px !important;
		margin-bottom: 10px;

		text-align: center;
		background-color: slategray;
	}

	section.chart-container .chat_name {
		display: block;
		position: absolute;
		bottom: 0px;
	}

	/*section.chart-container .row-fluid {
		margin-bottom: 10px;
	}*/